# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Brutus.iml
# Datasource local storage ignored files
/../../../../../../../:\freak\dev\Brutus\.idea\.idea.Brutus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
